<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>private chat</title>
</head>
<body>
    <h1>{{ second_user }} 😍</h1>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    {%  if messages %}
    {% for message in messages reversed %}
        {% if message.user == user %}
            <p><b>me: </b>{{ message.message }}</p>
        {% else %}
            <p><b>{{ message.user }}: </b>{{ message.message }}</p>
        {% endif %}
    {% endfor %}
    {% else %}
        <p>Start Convo!</p>
    {% endif %}
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit">▶</button>
    </form>
</body>
</html>