<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>public chat</title>
    <link rel = 'stylesheet' href = "/media/staticFiles/public_chat_style.css"/>
</head>
<body>
    <div class="header-container">
        <h1>Welcome to public chat! {{ user }}</h1>
        <button class="toggle-users" onclick="toggleUsers()">👥 Users</button>
        <form action = "{% url "dbchat:logout" %}" method = "POST">
          {% csrf_token %}
          <button id = 'logout' class="logout-button" type="submit">Logout</button>
        </form>
    </div>
    
      {% if error %}
      <p>Some Error occurred!!</p>
      {% endif %}
      
      
      
      <section id="users">
        {% for u in users %}
          {% if u.id != user.id %}
            <a href="{% url 'dbchat:private_chat' u.id %}">{{ u }}</a>
          {% endif %}
        {% endfor %}
      </section>
    
      <section id="chatbox">
        {% for message in messages reversed %}
          {% if message.user == user %}
            {% if message.files %}
              <div class="message mine attachment-bubble">
                <a target="_blank" href="{{ message.files.url }}">
                  <img src="/media/staticFiles/fileattachment.jpg" alt="File Attachment" class="file-thumbnail">
                </a>
                <div class="file-name">{{ message.files.name }}</div>
              </div>
            {% endif %}
            {% if message.image %}
              <div class="image mine">
                  <img src="{{ message.image.url }}" alt="image" class="imageObject"/>
              </div>
            {% endif %}
            {% if message.message %}
              <p class="message mine"><b>me:</b> {{ message.message }}</p>
            {% endif %}
          {% else %}
            {% if message.files %}
              <div class="message other attachment-bubble otherfile">
                <a target="_blank" href="{{ message.files.url }}">
                  <img src="/media/staticFiles/fileattachment.jpg" alt="File Attachment" class="file-thumbnail">
                </a>
                <div class="file-name">{{ message.files.name }}</div>
              </div>
            {% endif %}
            {% if message.image %}
              <div class="image other">
                  <img src="{{ message.image.url }}" alt="image" class="imageObject"/>
              </div>
            {% endif %}
            {% if message.message %}
              <p class="message other"><b>{{ message.user }}:</b> {{ message.message }}</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </section>
    
      <form id = 'form' method="post" novalidate>
        {% csrf_token %}
        <input type="text" name="message" id="id_message">
        <label for="id_files" id="file_label">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="44" height="30"
               viewBox="0 0 24 24"
               fill="none" stroke="white"
               stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
               class="clip-icon"
               style="transform: rotate(135deg); transform-origin: center;">
            <path d="M16.5 6.5l-7.8 7.8a3 3 0 104.2 4.2l8.2-8.2a5 5 0 10-7.1-7.1L4.9 12.9a7 7 0 109.9 9.9l10.1-10.1"/>
          </svg>
        </label>        
        <input type = "file" name = "files" id = "id_files" style="display: none;"/>
        <button onclick="sendMessage()">▶</button>
      </form>
    
      <script>
        document.getElementById('form').onsubmit = function(event){
          event.preventDefault();
        }
        window.onload = scrollToBottom;
        const ws = new WebSocket(`ws://${window.location.host}/public_chat/`);
        let cbox = document.getElementById('chatbox');
        function scrollToBottom(){
          cbox.scrollTop = cbox.scrollHeight;
        }

        async function sendMessage() {
          let chatbox = document.getElementById('chatbox');
          async function readFileAsBase64(file) {
                return await new Promise((resolve, reject) => {
                    const reader = new FileReader();

                    reader.onload = () => {
                        const base64 = reader.result.split(',')[1];
                        resolve(base64);
                    };

                    reader.onerror = () => {
                        reject("Failed to read file.");
                    };

                    reader.readAsDataURL(file);
                });
            }

          const messageInput = document.getElementById('id_message');
          const message = messageInput.value;

          let forminput = document.getElementById('id_files');
          let bool = forminput.files.length > 0;
          let filename, filetype, file;
          if(bool){
            filename = forminput.files[0].name;
            filetype = forminput.files[0].type;
            file = await readFileAsBase64(forminput.files[0]);
          }



          
          ws.send(JSON.stringify({ 'message': message, 'file' : bool, 'fileData': file, 'filename' : filename, 'filetype' :  filetype }));
          messageInput.value = '';
          document.getElementById('id_files').value = "";
          scrollToBottom();
        }

        
    
        ws.onmessage = (event) => {
          const response = JSON.parse(event.data);
          if (response.type === 'websocket_response') {
            const chatbox = document.getElementById('chatbox');
            if(response.file){
              let div = document.createElement('div');
              div.className = response.sender === 'Me' ? 'message mine attachment-bubble' : 'message other attachment-bubble otherfile';
              let a = document.createElement('a');
              a.target = '_blank';
              a.href = `/media/${response.file}`;
              let img = document.createElement('img');
              img.src = '/media/staticFiles/fileattachment.jpg';
              img.alt = 'File Attachment';
              img.className = 'file-thumbnail';
              a.appendChild(img);
              div.appendChild(a);
              let filename = document.createElement('div');
              filename.className = 'file-name';
              filename.innerText = `${response.file}`;
              div.appendChild(filename);
              chatbox.appendChild(div);
            }
            if(response.image){
              let div = document.createElement('div');
              div.className = response.sender === 'Me' ? 'image mine' : 'image other';
              let img = document.createElement('img');
              img.src = `/media/${response.image}`;
              img.alt = 'image'; img.className = 'imageObject';
              div.appendChild(img);
              chatbox.appendChild(div);
            }
            if(response.message){
              const message = document.createElement('p');
              message.className = response.sender === 'Me' ? 'message mine' : 'message other';
              const sender = document.createElement('b');
              sender.innerText = `${response.sender}: `;
              message.appendChild(sender);
              message.append(response.message);
              chatbox.appendChild(message);
            }
            scrollToBottom();
          }
        }
    
        function toggleUsers() {
          const users = document.getElementById('users');
          users.style.display = users.style.display === 'flex' ? 'none' : 'flex';
        }
      </script>
</body>
</html>